services:
  neo4j:
    image: neo4j:latest
    container_name: matcha-neo4j
    ports:
      - "7474:7474" # localhost:7474 to access website
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/matcha123 # username/password for db login
    volumes:
      - neo4j_data:/data
    healthcheck:
      test: ["CMD-SHELL", "echo RETURN 1 | cypher-shell -a bolt://localhost:7687 -u neo4j -p matcha123 || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s

  mongodb:
    image: mongo:latest
    container_name: matcha-mongodb
    ports:
      - "27017:27017" # localhost:27017 to access MongoDB
    environment:
      - MONGO_INITDB_DATABASE=matcha
    volumes:
      - mongodb_data:/data/db
    command: mongod --quiet --logpath=/dev/null --bind_ip_all
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

  backend:
    build:
      context: ./matcha-backend
      dockerfile: Dockerfile
      cache_from:
        - matcha-backend:latest
    container_name: matcha-backend
    ports:
      - "3001:3001" # localhost:3001 to access backend api
    environment:
      - PORT=3001
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=matcha123
      - MONGODB=mongodb://mongodb:27017/
    depends_on:
      neo4j:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    command: sh -c "sleep 10 && npm run serve"

  frontend:
    build:
      context: ./matcha-frontend
      dockerfile: Dockerfile
      cache_from:
        - matcha-frontend:latest
    container_name: matcha-frontend
    ports:
      - "3000:3000" # localhost:3000 to access website
    environment:
      - NODE_NO_WARNINGS=1
    depends_on:
      - backend

volumes:
  neo4j_data:
  mongodb_data:
