/* src/app/globals.css */

@import '../styles/variables.css';
@import '../styles/reset.css';
@import '../styles/typography.css';
@import '../styles/layout.css';
@import '../styles/utils.css';
@import '../styles/animations.css';
@import '../styles/media.css';

@import "tailwindcss";
